@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>This website in progress..</h2>
        <p>
           You can make your list. If there isn't an value of your search, you can simply add it.

            
        </p>
    </div>
    
</div>